package ${table.entityPackageName}.entities;

import java.io.Serializable;
#foreach(${typeImport} in ${table.typeImportList})
import ${typeImport};
#end

public class ${table.entityClassName} implements Serializable{

	private static final long serialVersionUID = 1L;
	
	#foreach( ${column} in ${table.columnList} )
/**${column.columnRemarks}*/
	private ${column.javaType} ${column.fieldName};
	
	#end
	
	
	#foreach( ${column} in ${meta.columnList} )

	public void ${column.setterName}(${column.javaType} ${column.fieldName}){
		this.${column.fieldName}=${column.fieldName};
	}
	
	public ${column.javaType} ${column.getterName}(){
		return this.${column.fieldName};
	}
	
	#end
	
}