package ${table.mapperPackageName};

import ${table.entityPackageName}.${table.entityClassName};
import org.apache.ibatis.annotations.Mapper;
import org.apache.ibatis.annotations.Param;
import java.util.List;


@Mapper
public interface ${table.mapperClassName} {

	int insert(${table.entityClassName} record);

	int insertSelective(${table.entityClassName} record);

	int insertBatch(@Param("recordList")List<${table.entityClassName}> recordList);

	int deleteByPrimaryKey(#set($temp=0)#foreach(${column}in${table.columnList})#if($column.isPrimaryKey())#if($temp >0),#end#set($temp=$temp+1)@Param("${column.fieldName}")${column.javaType} ${column.fieldName}#end#end);

	int updateByPrimaryKey(${table.entityClassName} record);

	int updateByPrimaryKeySelective(${table.entityClassName} record);

	int countSelective(${table.entityClassName} record);

	${table.entityClassName} queryByPrimaryKey(#set($temp=0)#foreach(${column}in${table.columnList})#if($column.isPrimaryKey())#if($temp >0),#end#set($temp=$temp+1)@Param("${column.fieldName}")${column.javaType} ${column.fieldName}#end#end);

	List<${table.entityClassName}> querySelective(${table.entityClassName} record);
}
